<h1><%=@user.name%></h1>
<form action="">
    <button type="submit" formaction="/freetimes/new">Create New Freetime</button>
    <button type="submit" formaction='/users/<%=@user.id%>/edit'>Update Profile</button>
    <button type="submit" formaction='/logout'>Logout</button>
</form>
<br><br>

<hr>
<h2>My Availability:</h2>
<%@user.freetimes.where("start > ?", DateTime.now).sort_by {|ft| ft.start}.each do |ft|%>
    <div>
    <p><b><%=ft.label%></b> <br> Duration: <%=ft.duration%> hours   -   <a href="/freetimes/<%=ft.id%>/edit">Edit Time</a></p>
    </div>
<%end%>
<hr>
<a href="/users">Users List</a>